@charset "UTF-8";

@font-face {
  font-family: MainFont;
  src: url(../fonts/TT\ Ramillas\ Trial\ Light.ttf);
}

@font-face {
  font-family: ExtraLightFont;
  src: url(../fonts/TT\ Ramillas\ Trial\ ExtraLight.ttf);
}

body{
    background-color: bisque;
    background-image: url(../img/homepage_background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-weight: 200;
}


button {
    background-color: #84babb;
    border: none;
    border-radius: 40px;
    padding: 15px 50px;

    font-family: ExtraLightFont;
    text-align: center;
    line-height: 0;
    color: #1c3d45;
    font-size: 20px;
}

div#Title {
    position: relative;
    padding-top: 150px;
    margin: auto;

    font-family: ExtraLightFont;
    text-align: center;
    line-height: 0;
    color: #1c3d45;
    font-size: 50px;
}

div#FirstTopicDescription {
    position: relative;
    padding-top: 25px;
    margin: auto;

    font-family: ExtraLightFont;
    text-align: center;
    line-height: 0;
    color: #1c3d45;
    font-size: 25px;
}

@media (max-width: 768px) {
    div#Title {
        padding-top: 150px;
    } 
}

@media (max-width: 520px) {
    div#Title {
        width: 100%;
        padding-top: 150px;
    }
}

@media (min-width: 600px) {
    body{
        background-image: url(../img/homepage_background2.png);
    }
    p {
        padding: 10px;
    }
    div#Title {
        padding-top: 100px;
        text-wrap: balance;
        line-height: 1.2;
    }
}

